//font names
$serif: "Linux Libertine", Georgia, Times, serif;
$sans-serif: "Open Sans", sans-serif;

// color
$color-gray-0: #202020;
$color-gray-1: #6d695c;
$white: #fff;
$orange: #ff9100;

// screen sizes
$screen-min-width: 420px;
$screen-xsmall: 565px;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1240px;
$screen-xlarge: 1920px;
