# ios stuff
.DS_Store

# node.js stuff
package-lock.json
bin/
build/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
public/dist

# ignore Jest code coverage
coverage/

#Ignore local enviroment variables
.env*.local

# visual studio related (in case some prefer that IDE)
*.psess
*.vsp
*.vspx
*.sap
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

*.[Cc]ache
!*.[Cc]ache/

typings/
.idea/
*.sln.iml
